.navbar {
  z-index: 1000;
}

.btn-primary{
  background-color: #fff!important;
  border: none; 
}

.btn-primary:hover{
  background-color: #f7941d!important;
  color: #fff!important;
}

.card {
  margin-right: 5px;
}